/* TODO this class may leak into other components */
.MuiDataGrid-columnsManagement .Mui-disabled {
  display: none;
}

.actions-column {
  padding: 0 !important;

  .MuiDataGrid-actionsCell {
    grid-gap: unset !important;
  }
}
